<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>My JS Test App</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="./node_module/fhirclient/build/fhir-client.js"></script>
	 <script src="./dist/app-bundle.js"></script> 

</head>
<body ng-app="App-bundle">
    <script>
        FHIR.oauth2.ready()
            .then(client => client.request("Patient"))
            .then(console.log)
            .catch(console.error);
    </script>
    <div id="root"></div>

	<div class="container-fluid full-height">

			<div class="details col-md-5">
				<div class="details-header" ng-show="SelectedPatient">
					{{ SelectedPatient.detailsHeader }}
				</div>
				<div class="details-body" ng-show="SelectedPatient">
                    <form name="dateRangeForm" class="form-inline">
                        <div class="form-group" ng-class="{ 'has-error': dateRangeForm.dateRangeFrom.$invalid }">
                            <label for="dateRangeFrom">From:</label>
                            <input type="text" class="form-control narrow" id="dateRangeFrom" name="dateRangeFrom" placeholder="yyyy-mm-dd" ng-model="SelectedPatient.dateRange.from" ng-pattern="DateRegExp" />
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': dateRangeForm.dateRangeTo.$invalid }">
                            <label for="dateRangeTo">To:</label>
                            <input type="text" class="form-control narrow" id="dateRangeTo" name="dateRangeTo" placeholder="yyyy-mm-dd" ng-model="SelectedPatient.dateRange.to" ng-pattern="DateRegExp" />
                        </div>
                    </form>
					<div class="details-part" ng-repeat="part in SelectedPatient.detailsParts">
						<span class="details-part-data" ng-if="!part.parts">{{part}}</span>
						<div class="details-subpart" ng-if="part.parts">
							<div class="details-subpart-header" ng-click="toggleCollapse(part)">
								<i class="glyphicon-plus" ng-if="part.collapsed"></i>
								<i class="glyphicon-minus" ng-if="!part.collapsed"></i>
								{{ part.header }}
							</div>
                            <div ng-show="part.loading">
                                <img src="Images/CircularProgressAnimation.gif" width="32" />
                                Loading...
                            </div>
							<div class="details-part" ng-if="!part.collapsed && !part.loading" ng-repeat="subPart in part.parts track by $index">
                                <a href="{{subPart.url}}" download="{{subPart.fileName}}" ng-if="subPart.url">Download {{subPart.fileName}}</a>
								<span class="details-part-data" ng-if="!subPart.url">{{ subPart }}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="details-empty" ng-show="!SelectedPatient">
					No patient selected
				</div>
			</div>
		</div>

		<div class="row full-height" ng-show="EditableConfiguration">

			<form name="configurationForm" class="configuration">
				<h1>Configuration</h1>
				<fieldset>
					<legend>Search fields</legend>
					<div class="checkbox" ng-repeat="searchField in SearchFields">
						<label>
							<input type="checkbox" ng-model="EditableConfiguration.searchFields[searchField.field]" />
							{{ searchField.label }}
						</label>
					</div>
				</fieldset>
				<fieldset>
					<legend>Identifiers</legend>
					<div class="form-group">
						<table>
							<thead>
								<tr>
									<th class="width-uri">URI</th>
									<th class="width-name">Display</th>
									<th class="width-icon"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="system in EditableConfiguration.searchIdentifierSystems" ng-form="identifierSystem">
									<td class="width-uri" ng-class="{'has-error': identifierSystem.uri.$invalid}">
										<input type="text" name="uri" class="form-control" ng-model="system.uri" required />
										<span class="help-block" ng-show="identifierSystem.uri.$invalid">Required.</span>
									</td>
									<td class="width-name" ng-class="{'has-error': identifierSystem.name.$invalid}">
										<input type="text" name="name" class="form-control" ng-model="system.name" required />
										<span class="help-block" ng-show="identifierSystem.name.$invalid">Required.</span>
									</td>
									<td class="width-icon">
										<button type="button" class="btn btn-default" title="Remove identifier" ng-click="configureRemoveIdentifierSystem(system)">
											<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
						<button type="button" class="btn btn-default" title="Add identifier" ng-click="configureAddIdentifierSystem()">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					</div>
				</fieldset>
				<fieldset>
					<legend>Results</legend>
					<div class="form-group" ng-class="{'has-error': configurationForm.resultsPerPage.$invalid}">
						<label for="resultsPerPage">Results per page:</label>
						<input id="resultsPerPage" name="resultsPerPage"
							   type="number" min="1" max="100" required
							   aria-describedby="resultsPerPageHelp"
							   class="form-control width-name"
							   ng-model="EditableConfiguration.resultsPerPage">
						<span id="resultsPerPageHelp" class="help-block" ng-show="configurationForm.resultsPerPage.$invalid">Must be a number between 1 and 100.</span>
					</div>
				</fieldset>
				<fieldset>
					<legend>Testing</legend>
					<label>
						<input type="checkbox" ng-model="EditableConfiguration.getDetails" />
						When selecting a patient, get the details from the FHIR server instead than using the data returned by the search
					</label>
				</fieldset>
				<button type="submit" class="btn btn-success" ng-click="configureOK()" ng-disabled="configurationForm.$invalid">OK</button>
				<button class="btn btn-default" ng-click="configureCancel()">Cancel</button>
			</form>

			<div class="logo">
				<a href="http://careevolution.com" target="_blank">
					<img src="Images/CareEv-logo-small.png" title="{{ getProductDescription() }}" />
				</a>
			</div>

		</div>
	</div>

    
</body>
</html>
